{% extends "global/LanguageVersion_Global.html" %}
{% load otree static %}

{% block styles %}
<link rel="stylesheet" href="{{ static 'ballot/ballot.css' }}">
{% endblock %}

{% block title %}
{% include "global/title_Global.html" %}
{% endblock %}

{% block content %}
<div class="container">
    <input id="time" type="hidden" name="time_age"/>
    <p class="german">Wir beginnen mit einigen Fragen zur Einschätzung der wirtschaftlichen Lage.</p>
    <p class="english">We start with a few questions regarding the economical situation.</p>

    {% for question in questions %}
        <div class="mb-3 border pt-2 pb-2 px-2">
            <p class="german">{{ question.text.german }}</p>
            <p class="english">{{ question.text.english }}</p>
            
            {% if question.type == "radio" %}
                {% for option in question.options %}
                    <div class="german"><input type="radio" name="{{ question.field }}" value="{{ option.value }}"> {{ option.text.german }}</div>
                    <div class="english"><input type="radio" name="{{ question.field }}" value="{{ option.value }}"> {{ option.text.english }}</div>
                {% endfor %}
            {% endif %}

            {% if question.type == "number" %}
                <input type="number" name="{{ question.field }}" placeholder="{{ question.placeholder }}">
                {{ formfield_errors question.field }}
            {% endif %}
        </div>
    {% endfor %}

    <button class="otree-btn-next btn btn-primary next-button otree-next-button">
        <span class="german"> Weiter </span>
        <span class="english"> Next </span>
    </button>

</div>
{% endblock %}
