{% extends "global/LanguageVersion_Global.html" %}
{% load otree static %}

{% block styles %}
<link rel="stylesheet" href="{{ static 'ballot/ballot.css' }}">
{% endblock %}

{% block title %}
{% include "global/title_Global.html" %}
{% endblock %}

{% block content %}
<div class="container">
    <input id="time" type="hidden" name="time_leftright"/>
    <p class="german">In der Politik reden die Leute häufig von "links" und "rechts" und benutzen dieses vereinfachte Schema zu Orietierung.</p>
    <p class="english">In politics, people sometimes talk of "left" and "right" and use this simplified structure for Orientation. </p>

    <div class="mb-3 bg-light border pt-2 pb-2 px-2">
        <p class="german"> Wenn Sie diese Skala von 1 bis 11 benutzen, wo würden Sie die folgenden Parteien einordnen, wenn 1 "links" und 11 "rechts" ist?</p>
        <p class="english">Where would you place the following parties on the scale if 1 is "left" and 11 is "right"?</p>
        
        <div class="table">
            <table class="table">
                <thead>
                <tr>
                    <td></td>
                    <th><p class="german">1: Links</p><p class="english">1: Left</p></th>
                    <th><p>2</p></th>
                    <th><p>3</p></th>
                    <th><p>4</p></th>
                    <th><p>5</p></th>
                    <th><p>6</p></th>
                    <th><p>7</p></th>
                    <th><p>8</p></th>
                    <th><p>9</p></th>
                    <th><p>10</p></th>
                    <th><p class="german">11: Rechts</p><p class="english">11: Right</p></th>
                    <th style="vertical-align: top"><p class="german mb-0">Weiß nicht</p><p class="english mb-0">Don't know</p></th>
                </tr>
                </thead>
                <tbody>
                    {% for question in questions %}
                    <tr>
                        <th style="font-weight:normal">
                            <span class="german">{{ question.text.german }}</span>
                            <span class="english">{{ question.text.english }}</span>
                        </th>
                        <th><input type="radio" name="{{ question.field }}" value="1"></th>
                        <th><input type="radio" name="{{ question.field }}" value="2"></th>
                        <th><input type="radio" name="{{ question.field }}" value="3"></th>
                        <th><input type="radio" name="{{ question.field }}" value="4"></th>
                        <th><input type="radio" name="{{ question.field }}" value="5"></th>
                        <th><input type="radio" name="{{ question.field }}" value="6"></th>
                        <th><input type="radio" name="{{ question.field }}" value="7"></th>
                        <th><input type="radio" name="{{ question.field }}" value="8"></th>
                        <th><input type="radio" name="{{ question.field }}" value="9"></th>
                        <th><input type="radio" name="{{ question.field }}" value="10"></th>
                        <th><input type="radio" name="{{ question.field }}" value="11"></th>
                        <th><input type="radio" name="{{ question.field }}" value="0"></th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div> 

    <button class="otree-btn-next btn btn-primary next-button otree-next-button">
        <span class="german"> Weiter </span>
        <span class="english"> Next </span>
    </button>

</div>
{% endblock %}