{% extends "global/LanguageVersion_Global.html" %}
{% load otree static %}

{% block styles %}
<link rel="stylesheet" href="{{ static 'ballot/ballot.css' }}">
{% endblock %}

{% block title %}
{% include "global/title_Global.html" %}
{% endblock %}

{% block content %}
<div class="container">
    <input id="time" type="hidden" name="time_scaloparty"/>

    <div class="mb-3 bg-light border pt-2 pb-2 px-2">
        <p class="german">Was halten Sie ganz allgemein von den folgenden einzelnen Parteien?</p>
        <p class="english">How much do you like or dislike each of the following parties?</p>

        <p class="german">Benutzen Sie dafür bitte die untenstehende Skala von -5 bis +5 mit einem Nullpunkt in der Mitte. +5 bedeutet, dass Sie sehr viel von der Partei halten; -5 bedeutet, dass Sie überhaupt 
            nichts von der Partei halten. Mit den Werten dazwischen können Sie Ihre Meinung abstufen.</p>
        <p class="english">Please use the scale below ranging from -5 to +5 with 0 
            indicating the middle. +5 means that you strongly like the party; -5 means that you strongly dislike the party. Choose the numbers in 
            between to grade your statement.</p>
        
        <div class="table">
            <table class="table">
                <thead>
                <tr>
                    <td></td>
                    <th><p class="german">-5: Starke Abneigung</p><p class="english">-5: Strong Dislike</p></th>
                    <th><p>-4</p></th>
                    <th><p>-3</p></th>
                    <th><p>-2</p></th>
                    <th><p>-1</p></th>
                    <th><p>0</p></th>
                    <th><p>1</p></th>
                    <th><p>2</p></th>
                    <th><p>3</p></th>
                    <th><p>4</p></th>
                    <th><p class="german">5: Starke Zuneigung</p><p class="english">5: Strong Like</p></th>
                    <th style="vertical-align: top"><p class="german mb-0">Keine Angabe</p><p class="english mb-0">No answer</p></th>
                </tr>
                </thead>
                <tbody>
                    {% for question in questions %}
                    <tr>
                        <th style="font-weight:normal">
                            <span class="german">{{ question.text.german }}</span>
                            <span class="english">{{ question.text.english }}</span>
                        </th>
                        <th><input type="radio" name="{{ question.field }}" value="1"></th>
                        <th><input type="radio" name="{{ question.field }}" value="2"></th>
                        <th><input type="radio" name="{{ question.field }}" value="3"></th>
                        <th><input type="radio" name="{{ question.field }}" value="4"></th>
                        <th><input type="radio" name="{{ question.field }}" value="5"></th>
                        <th><input type="radio" name="{{ question.field }}" value="6"></th>
                        <th><input type="radio" name="{{ question.field }}" value="7"></th>
                        <th><input type="radio" name="{{ question.field }}" value="8"></th>
                        <th><input type="radio" name="{{ question.field }}" value="9"></th>
                        <th><input type="radio" name="{{ question.field }}" value="10"></th>
                        <th><input type="radio" name="{{ question.field }}" value="11"></th>
                        <th><input type="radio" name="{{ question.field }}" value="0"></th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div> 

    <button class="otree-btn-next btn btn-primary next-button otree-next-button">
        <span class="german"> Weiter </span>
        <span class="english"> Next </span>
    </button>

</div>
{% endblock %}