{% extends "global/LanguageVersion_Global.html" %}
{% load otree static %}

{% block styles %}
<link rel="stylesheet" href="{{ static 'ballot/ballot.css' }}">
{% endblock %}

{% block title %}
{% include "global/title_Global.html" %}
{% endblock %}

{% block content %}
<div class="container">
    <input id="group_assessment_page_load_time" type="hidden" name="group_assessment_page_load_time" />
    <input id="group_assessment_page_submit_time" type="hidden" name="group_assessment_page_submit_time" />
    <input id="group_assessment_page_duration_seconds" type="hidden" name="group_assessment_page_duration_seconds" />
   <p class="german">Im folgenden geht es um wahrgenommene Gruppenzugehörigkeiten zu Freundeskreisen.</p>
    <p class="english">In the following we ask you about perceived group memberships to social circles.</p>

    <div class="mb-3 bg-light border pt-2 pb-2 px-2">
        <p class="german"> Bitte ordnen Sie die folgenden Personen Ihren verschiedenen Freundeskreisen zu. Ein Freundeskreis besteht aus Personen, die auch miteinander befreundet sind. </p>
        <p class="english"> Please categorize the following people by their friend-group. Each friendship group is made up of people how are also friends with each other. </p>
        <p class="german"> Geben Sie Personen im selben Freundeskreis dieselbe Nummer (1, 2, 3, ...). Falls eine Person keinem gemeinsamen Kreis angehört, vergeben Sie eine eigene Nummer. Jede Person kann nur einem Freundeskreis angehören. </p>
        <p class="english"> Please give the people in the same friend-group the same number (1, 2, 3, ...). If a person belongs to no common group, give them their own number. Each person can only belong to one group.</p>

        <div class="table">
            <table class="table">
                <thead>
                    <tr>
                        <td></td>
                        <th>
                            <p class="german">Gruppen Nummer: </p>
                            <p class="english">Group Number: </p>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% if player.person_1 != "x" %}
                    <tr>
                        <th>{{ player.person_1 }}</th>
                        <td>{% form.group_1 %}</td> 
                    </tr>
                    {% endif %}
                    
                    {% if player.person_2 != "x" %}
                    <tr>
                        <th>{{ player.person_2 }}</th>
                        <td>{% form.group_2 %}</td> 
                    </tr>
                    {% endif %}

                    {% if player.person_3 != "x" %}
                    <tr>
                        <th>{{ player.person_3 }}</th>
                        <td>{% form.group_3 %}</td>  
                    </tr>
                    {% endif %}


                    {% if player.person_4 != "x" %}
                    <tr>
                        <th>{{ player.person_4 }}</th>
                        <td>{% form.group_4 %}</td>  
                    </tr>
                    {% endif %}


                    {% if player.person_5 != "x" %}
                    <tr>
                        <th>{{ player.person_5 }}</th>
                        <td>{% form.group_5 %}</td>  
                    </tr>
                    {% endif %}


                    {% if player.person_6 != "x" %}
                    <tr>
                        <th>{{ player.person_6 }}</th>
                        <td>{% form.group_6 %}</td>  
                    </tr>
                    {% endif %}


                    {% if player.person_7 != "x" %}
                    <tr>
                        <th>{{ player.person_7 }}</th>
                        <td>{% form.group_7 %}</td>  
                    </tr>
                    {% endif %}


                    {% if player.person_8 != "x" %}
                    <tr>
                        <th>{{ player.person_8 }}</th>
                        <td>{% form.group_8 %}</td>  
                    </tr>
                    {% endif %}


                    {% if player.person_9 != "x" %}
                    <tr>
                        <th>{{ player.person_9 }}</th>
                        <td>{% form.group_9 %}</td>  
                    </tr>
                    {% endif %}


                    {% if player.person_10 != "x" %}
                    <tr>
                        <th>{{ player.person_10 }}</th>
                        <td>{% form.group_10 %}</td>  
                    </tr>
                    {% endif %}


                    {% if player.person_11 != "x" %}
                    <tr>
                        <th>{{ player.person_11 }}</th>
                        <td>{% form.group_11 %}</td>  
                    </tr>
                    {% endif %}


                    {% if player.person_12 != "x" %}
                    <tr>
                        <th>{{ player.person_12 }}</th>
                        <td>{% form.group_12 %}</td>  
                    </tr>
                    {% endif %}


                    {% if player.person_13 != "x" %}
                    <tr>
                        <th>{{ player.person_13 }}</th>
                        <td>{% form.group_13 %}</td>  
                    </tr>
                    {% endif %}


                    {% if player.person_14 != "x" %}
                    <tr>
                        <th>{{ player.person_14 }}</th>
                        <td>{% form.group_14 %}</td>  
                    </tr>
                    {% endif %}


                    {% if player.person_15 != "x" %}
                    <tr>
                        <th>{{ player.person_15 }}</th>
                        <td>{% form.group_15 %}</td>  
                    </tr>
                    {% endif %}

                    {% if player.person_16 != "x" %}
                    <tr>
                        <th>{{ player.person_16 }}</th>
                        <td>{% form.group_16 %}</td>  
                    </tr>
                    {% endif %}


                    {% if player.person_17 != "x" %}
                    <tr>
                        <th>{{ player.person_17 }}</th>
                        <td>{% form.group_17 %}</td>  
                    </tr>
                    {% endif %}


                    {% if player.person_18 != "x" %}
                    <tr>
                        <th>{{ player.person_18 }}</th>
                        <td>{% form.group_18 %}</td>  
                    </tr>
                    {% endif %}


                    {% if player.person_19 != "x" %}
                    <tr>
                        <th>{{ player.person_19 }}</th>
                        <td>{% form.group_19 %}</td>  
                    </tr>
                    {% endif %}


                    {% if player.person_20 != "x" %}
                    <tr>
                        <th>{{ player.person_20 }}</th>
                        <td>{% form.group_20 %} </td> 
                    </tr>
                    {% endif %}

                    {% if player.person_21 != "x" %}
                    <tr>
                        <th>{{ player.person_21 }}</th>
                        <td>{% form.group_21 %} </td> 
                    </tr>
                    {% endif %}
                </tbody>

                    {% if player.person_22 != "x" %}
                    <tr>
                        <th>{{ player.person_22 }}</th>
                        <td>{% form.group_22 %}</td>  
                    </tr>
                    {% endif %}

                    {% if player.person_23 != "x" %}
                    <tr>
                        <th>{{ player.person_23 }}</th>
                        <td>{% form.group_23 %}</td>  
                    </tr>
                    {% endif %}

                    {% if player.person_24 != "x" %}
                    <tr>
                        <th>{{ player.person_24 }}</th>
                        <td>{% form.group_24 %}</td>  
                    </tr>
                    {% endif %}

                    {% if player.person_25 != "x" %}
                    <tr>
                        <th>{{ player.person_25 }}</th>
                        <td>{% form.group_25 %}</td>  
                    </tr>
                    {% endif %}

                    {% if player.person_26 != "x" %}
                    <tr>
                        <th>{{ player.person_26 }}</th>
                        <td>{% form.group_26 %}</td>  
                    </tr>
                    {% endif %}

                    {% if player.person_27 != "x" %}
                    <tr>
                        <th>{{ player.person_27 }}</th>
                        <td>{% form.group_27 %}</td>  
                    </tr>
                    {% endif %}

                    {% if player.person_28 != "x" %}
                    <tr>
                        <th>{{ player.person_28 }}</th>
                        <td>{% form.group_28 %}</td>  
                    </tr>
                    {% endif %}

                    {% if player.person_29 != "x" %}
                    <tr>
                        <th>{{ player.person_29 }}</th>
                        <td>{% form.group_29 %}</td>  
                    </tr>
                    {% endif %}

                    {% if player.person_30 != "x" %}
                    <tr>
                        <th>{{ player.person_30 }}</th>
                        <td>{% form.group_30 %}</td>  
                    </tr>
                    {% endif %}

                    {% if player.person_31 != "x" %}
                    <tr>
                        <th>{{ player.person_31 }}</th>
                        <td>{% form.group_31 %}</td>  
                    </tr>
                    {% endif %}

                    {% if player.person_32 != "x" %}
                    <tr>
                        <th>{{ player.person_32 }}</th>
                        <td>{% form.group_32 %}</td>  
                    </tr>
                    {% endif %}

                    {% if player.person_33 != "x" %}
                    <tr>
                        <th>{{ player.person_33 }}</th>
                        <td>{% form.group_33 %}</td>  
                    </tr>
                    {% endif %}

                    {% if player.person_34 != "x" %}
                    <tr>
                        <th>{{ player.person_34 }}</th>
                        <td>{% form.group_34 %}</td>  
                    </tr>
                    {% endif %}

                    {% if player.person_35 != "x" %}
                    <tr>
                        <th>{{ player.person_35 }}</th>
                        <td>{% form.group_35 %}</td>  
                    </tr>
                    {% endif %}

                    {% if player.person_36 != "x" %}
                    <tr>
                        <th>{{ player.person_36 }}</th>
                        <td>{% form.group_36 %}</td>  
                    </tr>
                    {% endif %}

                    {% if player.person_37 != "x" %}
                    <tr>
                        <th>{{ player.person_37 }}</th>
                        <td>{% form.group_37 %}</td>  
                    </tr>
                    {% endif %}

                    {% if player.person_38 != "x" %}
                    <tr>
                        <th>{{ player.person_38 }}</th>
                        <td>{% form.group_38 %}</td>  
                    </tr>
                    {% endif %}

                    {% if player.person_39 != "x" %}
                    <tr>
                        <th>{{ player.person_39 }}</th>
                        <td>{% form.group_39 %}</td>  
                    </tr>
                    {% endif %}

                    {% if player.person_40 != "x" %}
                    <tr>
                        <th>{{ player.person_40 }}</th>
                        <td>{% form.group_40 %}</td>  
                    </tr>
                    {% endif %}

                    {% if player.person_41 != "x" %}
                    <tr>
                        <th>{{ player.person_41 }}</th>
                        <td>{% form.group_41 %}</td>  
                    </tr>
                    {% endif %}

                    {% if player.person_42 != "x" %}
                    <tr>
                        <th>{{ player.person_42 }}</th>
                        <td>{% form.group_42 %}</td>  
                    </tr>
                    {% endif %}

                    {% if player.person_43 != "x" %}
                    <tr>
                        <th>{{ player.person_43 }}</th>
                        <td>{% form.group_43 %}</td>  
                    </tr>
                    {% endif %}

                    {% if player.person_44 != "x" %}
                    <tr>
                        <th>{{ player.person_44 }}</th>
                        <td>{% form.group_44 %}</td>  
                    </tr>
                    {% endif %}

                    {% if player.person_45 != "x" %}
                    <tr>
                        <th>{{ player.person_45 }}</th>
                        <td>{% form.group_45 %}</td>  
                    </tr>
                    {% endif %}

                    {% if player.person_46 != "x" %}
                    <tr>
                        <th>{{ player.person_46 }}</th>
                        <td>{% form.group_46 %}</td>  
                    </tr>
                    {% endif %}

                    {% if player.person_47 != "x" %}
                    <tr>
                        <th>{{ player.person_47 }}</th>
                        <td>{% form.group_47 %}</td>  
                    </tr>
                    {% endif %}

                    {% if player.person_48 != "x" %}
                    <tr>
                        <th>{{ player.person_48 }}</th>
                        <td>{% form.group_48 %}</td>  
                    </tr>
                    {% endif %}

                    {% if player.person_49 != "x" %}
                    <tr>
                        <th>{{ player.person_49 }}</th>
                        <td>{% form.group_49 %}</td>  
                    </tr>
                    {% endif %}

                    {% if player.person_50 != "x" %}
                    <tr>
                        <th>{{ player.person_50 }}</th>
                        <td>{% form.group_50 %}</td>  
                    </tr>
                    {% endif %}
            </table>
        </div>
    </div>

    <div class="button-container">
        {{ back_button }}
        {{ next_button }}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const pageLoadTime = new Date().toISOString();
        document.getElementById('group_assessment_page_load_time').value = pageLoadTime;

        const form = document.querySelector('form') || document.querySelector('[role="form"]');
        if (form) {
            form.addEventListener('submit', function() {
                const submitTime = new Date().toISOString();
                const startTime = new Date(pageLoadTime);
                const endTime = new Date(submitTime);
                const durationSeconds = (endTime - startTime) / 1000;

                document.getElementById('group_assessment_page_submit_time').value = submitTime;
                document.getElementById('group_assessment_page_duration_seconds').value = durationSeconds.toFixed(2);
            });
        }
    });
</script>

{% endblock %}
