{% extends "global/LanguageVersion_Global.html" %}
{% load otree static %}

{% block styles %}
<link rel="stylesheet" href="{{ static 'ballot/ballot.css' }}">
{% endblock %}

{% block title %}
    {% include "global/title_Global.html" %}
{% endblock %}


{% block content %}

<div class="container">
    <input id="time" type="hidden" name="time_networknamedstudents" />

    <div class="mb-3 bg-light border pt-2 pb-2 px-2">
        <p class="german">Bitte teilen Sie nun die 3-stelligen Umfragecodes, welche Sie zuvor miteinander ausgetauscht haben.</p>
        <p class="german">Tragen Sie je Feld nur eine Person ein und merken Sie sich, wer diese Person ist.</p>
        <p class="german">Bitte lassen Sie unbenutzte Feldern unverändert.</p>

        <p class="english">Please share the 3-symbol survey codes that you exchanged with each other.</p>
        <p class="english">Enter each codes into one of the fields below and remember who has which code.</p>
        <p class="english">Please leave the unused fields unchanged.</p>
    
        <div class="form-container">
            <div class="form-column">
                {% formfield player.person_1 %}  
                {% formfield player.person_4 %} 
                {% formfield player.person_7 %} 
                {% formfield player.person_10 %} 
                {% formfield player.person_13 %} 
                {% formfield player.person_16 %} 
                {% formfield player.person_19 %} 
            </div>
            <div class="form-column">
                {% formfield player.person_2 %}
                {% formfield player.person_5 %}
                {% formfield player.person_8 %}
                {% formfield player.person_11 %}
                {% formfield player.person_14 %}
                {% formfield player.person_17 %}
                {% formfield player.person_20 %}
            </div>
            <div class="form-column">
                {% formfield player.person_3 %}
                {% formfield player.person_6 %}
                {% formfield player.person_9 %}
                {% formfield player.person_12 %}
                {% formfield player.person_15 %}
                {% formfield player.person_18 %}
                {% formfield player.person_21 %}
            </div>
        </div>
    </div>
    


    <br>
    <!--Next button-->
    <button class="otree-btn-next btn btn-primary next-button otree-next-button">
        <span class="german"> Weiter </span>
        <span class="english"> Next </span>
    </button>
</div>

{% endblock %}
