{% extends "global/LanguageVersion_Global.html" %}
{% load otree static %}

{% block styles %}
<link rel="stylesheet" href="{{ static 'ballot/ballot.css' }}">
{% endblock %}

{% block title %}
{% include "global/title_Global.html" %}
{% endblock %}

{% block content %}
<div class="container">
    <input id="time" type="hidden" name="time_firstendpage"/>

    <p class="german"> Im folgenden Textfeld haben Sie die Möglichkeit, Ihre Gedanken und Erfahrungen zum sozialen Netzwerk an der Universität zu teilen. Zum Beispiel wie und wo Sie Personen kennengelernt haben.</p>
    <p class="english"> In the following textfield you have the opportunity to tell us about your thoughts and experiences with your social network in university. For example where and how you met the people. </p>

    <div class="form-group">
        {% form.network_narrative %}
    </div>

    <button class="otree-btn-next btn btn-primary next-button otree-next-button">
        <span class="german"> Weiter </span>
        <span class="english"> Next </span>
    </button>
</div>

{% endblock %}

