{% extends "global/LanguageVersion_Global.html" %}
{% load otree static %}

{% block styles %}
<link rel="stylesheet" href="{{ static 'ballot/ballot.css' }}">
{% endblock %}

{% block title %}
    {% include "global/title_Global.html" %}
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <div>
    <!-- <h3 class="german"> Beziehungen zu anderen Personen</h3>
    <h3 class="english"> Relationsship towards Other People</h3> -->
    <input id="time" type="hidden" name="time_leftright_selfassessment"/>

    <div class="mb-3 border pt-2 pb-2 px-2 ">
                    <p class="german"> In welchen Beziehungen stehen Sie zu den folgenden Personen? (Sie können mehrere Arten von Beziehungen für jede Person angeben.)</p>
                    <p class="english"> What is your relation towards the following people? (You can select multiple types of relations for each person.)</p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <td></td>
                        <th><p class="english"> I am friends with this person.</p> <p class="german"> Ich bin mit dieser Person befreundet.</p></th>
                        <th><p class="english"> I knew this person before starting university.</p> <p class="german"> Ich kannte diese Person bevor ich zur Uni gekommen bin.</p></th>
                        <th><p class="english"> We dicuss political topics regularly.</p> <p class="german"> Wir diskutieren regelmäßig über politische Themen.</p></th>
                        <th><p class="english"> We study together regularly.</p> <p class="german"> Wir lernen regelmäßig zusammen.</p></th>
                        <th><p class="english"> I would ask this person for help with personal problems.</p> <p class="german"> Ich würde diese Person bei persönlichen Problemen um Hilfe fragen.</p></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% if player.person_1 != "x" %}
                        <tr>
                            <th>{{ player.person_1 }}</th>
                            <td><input type="checkbox" name="friend_1" value="1"></td>
                            <td><input type="checkbox" name="old_1" value="1"></td>
                            <td><input type="checkbox" name="politics_1" value="1"></td>
                            <td><input type="checkbox" name="study_1" value="1"></td>
                            <td><input type="checkbox" name="support_1" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_2 != "x" %}
                        <tr>
                            <th>{{ player.person_2 }}</th>
                            <td><input type="checkbox" name="friend_2" value="1"></td>
                            <td><input type="checkbox" name="old_2" value="1"></td>
                            <td><input type="checkbox" name="politics_2" value="1"></td>
                            <td><input type="checkbox" name="study_2" value="1"></td>
                            <td><input type="checkbox" name="support_2" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_3 != "x" %}
                        <tr>
                            <th>{{ player.person_3 }}</th>
                            <td><input type="checkbox" name="friend_3" value="1"></td>
                            <td><input type="checkbox" name="old_3" value="1"></td>
                            <td><input type="checkbox" name="politics_3" value="1"></td>
                            <td><input type="checkbox" name="study_3" value="1"></td>
                            <td><input type="checkbox" name="support_3" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_4 != "x" %}
                        <tr>
                            <th>{{ player.person_4 }}</th>
                            <td><input type="checkbox" name="friend_4" value="1"></td>
                            <td><input type="checkbox" name="old_4" value="1"></td>
                            <td><input type="checkbox" name="politics_4" value="1"></td>
                            <td><input type="checkbox" name="study_4" value="1"></td>
                            <td><input type="checkbox" name="support_4" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_5 != "x" %}
                        <tr>
                            <th>{{ player.person_5 }}</th>
                            <td><input type="checkbox" name="friend_5" value="1"></td>
                            <td><input type="checkbox" name="old_5" value="1"></td>
                            <td><input type="checkbox" name="politics_5" value="1"></td>
                            <td><input type="checkbox" name="study_5" value="1"></td>
                            <td><input type="checkbox" name="support_5" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_6 != "x" %}
                        <tr>
                            <th>{{ player.person_6 }}</th>
                            <td><input type="checkbox" name="friend_6" value="1"></td>
                            <td><input type="checkbox" name="old_6" value="1"></td>
                            <td><input type="checkbox" name="politics_6" value="1"></td>
                            <td><input type="checkbox" name="study_6" value="1"></td>
                            <td><input type="checkbox" name="support_6" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_7 != "x" %}
                        <tr>
                            <th>{{ player.person_7 }}</th>
                            <td><input type="checkbox" name="friend_7" value="1"></td>
                            <td><input type="checkbox" name="old_7" value="1"></td>
                            <td><input type="checkbox" name="politics_7" value="1"></td>
                            <td><input type="checkbox" name="study_7" value="1"></td>
                            <td><input type="checkbox" name="support_7" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_8 != "x" %}
                        <tr>
                            <th>{{ player.person_8 }}</th>
                            <td><input type="checkbox" name="friend_8" value="1"></td>
                            <td><input type="checkbox" name="old_8" value="1"></td>
                            <td><input type="checkbox" name="politics_8" value="1"></td>
                            <td><input type="checkbox" name="study_8" value="1"></td>
                            <td><input type="checkbox" name="support_8" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_9 != "x" %}
                        <tr>
                            <th>{{ player.person_9 }}</th>
                            <td><input type="checkbox" name="friend_9" value="1"></td>
                            <td><input type="checkbox" name="old_9" value="1"></td>
                            <td><input type="checkbox" name="politics_9" value="1"></td>
                            <td><input type="checkbox" name="study_9" value="1"></td>
                            <td><input type="checkbox" name="support_9" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_10 != "x" %}
                        <tr>
                            <th>{{ player.person_10 }}</th>
                            <td><input type="checkbox" name="friend_10" value="1"></td>
                            <td><input type="checkbox" name="old_10" value="1"></td>
                            <td><input type="checkbox" name="politics_10" value="1"></td>
                            <td><input type="checkbox" name="study_10" value="1"></td>
                            <td><input type="checkbox" name="support_10" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_11 != "x" %}
                        <tr>
                            <th>{{ player.person_11 }}</th>
                            <td><input type="checkbox" name="friend_11" value="1"></td>
                            <td><input type="checkbox" name="old_11" value="1"></td>
                            <td><input type="checkbox" name="politics_11" value="1"></td>
                            <td><input type="checkbox" name="study_11" value="1"></td>
                            <td><input type="checkbox" name="support_11" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_12 != "x" %}
                        <tr>
                            <th>{{ player.person_12 }}</th>
                            <td><input type="checkbox" name="friend_12" value="1"></td>
                            <td><input type="checkbox" name="old_12" value="1"></td>
                            <td><input type="checkbox" name="politics_12" value="1"></td>
                            <td><input type="checkbox" name="study_12" value="1"></td>
                            <td><input type="checkbox" name="support_12" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_13 != "x" %}
                        <tr>
                            <th>{{ player.person_13 }}</th>
                            <td><input type="checkbox" name="friend_13" value="1"></td>
                            <td><input type="checkbox" name="old_13" value="1"></td>
                            <td><input type="checkbox" name="politics_13" value="1"></td>
                            <td><input type="checkbox" name="study_13" value="1"></td>
                            <td><input type="checkbox" name="support_13" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_14 != "x" %}
                        <tr>
                            <th>{{ player.person_14 }}</th>
                            <td><input type="checkbox" name="friend_14" value="1"></td>
                            <td><input type="checkbox" name="old_14" value="1"></td>
                            <td><input type="checkbox" name="politics_14" value="1"></td>
                            <td><input type="checkbox" name="study_14" value="1"></td>
                            <td><input type="checkbox" name="support_14" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_15 != "x" %}
                        <tr>
                            <th>{{ player.person_15 }}</th>
                            <td><input type="checkbox" name="friend_15" value="1"></td>
                            <td><input type="checkbox" name="old_15" value="1"></td>
                            <td><input type="checkbox" name="politics_15" value="1"></td>
                            <td><input type="checkbox" name="study_15" value="1"></td>
                            <td><input type="checkbox" name="support_15" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_16 != "x" %}
                        <tr>
                            <th>{{ player.person_16 }}</th>
                            <td><input type="checkbox" name="friend_16" value="1"></td>
                            <td><input type="checkbox" name="old_16" value="1"></td>
                            <td><input type="checkbox" name="politics_16" value="1"></td>
                            <td><input type="checkbox" name="study_16" value="1"></td>
                            <td><input type="checkbox" name="support_16" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_17 != "x" %}
                        <tr>
                            <th>{{ player.person_17 }}</th>
                            <td><input type="checkbox" name="friend_17" value="1"></td>
                            <td><input type="checkbox" name="old_17" value="1"></td>
                            <td><input type="checkbox" name="politics_17" value="1"></td>
                            <td><input type="checkbox" name="study_17" value="1"></td>
                            <td><input type="checkbox" name="support_17" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_18 != "x" %}
                        <tr>
                            <th>{{ player.person_18 }}</th>
                            <td><input type="checkbox" name="friend_18" value="1"></td>
                            <td><input type="checkbox" name="old_18" value="1"></td>
                            <td><input type="checkbox" name="politics_18" value="1"></td>
                            <td><input type="checkbox" name="study_18" value="1"></td>
                            <td><input type="checkbox" name="support_18" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_19 != "x" %}
                        <tr>
                            <th>{{ player.person_19 }}</th>
                            <td><input type="checkbox" name="friend_19" value="1"></td>
                            <td><input type="checkbox" name="old_19" value="1"></td>
                            <td><input type="checkbox" name="politics_19" value="1"></td>
                            <td><input type="checkbox" name="study_19" value="1"></td>
                            <td><input type="checkbox" name="support_19" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_20 != "x" %}
                        <tr>
                            <th>{{ player.person_20 }}</th>
                            <td><input type="checkbox" name="friend_20" value="1"></td>
                            <td><input type="checkbox" name="old_20" value="1"></td>
                            <td><input type="checkbox" name="politics_20" value="1"></td>
                            <td><input type="checkbox" name="study_20" value="1"></td>
                            <td><input type="checkbox" name="support_20" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_21 != "x" %}
                        <tr>
                            <th>{{ player.person_21 }}</th>
                            <td><input type="checkbox" name="friend_21" value="1"></td>
                            <td><input type="checkbox" name="old_21" value="1"></td>
                            <td><input type="checkbox" name="politics_21" value="1"></td>
                            <td><input type="checkbox" name="study_21" value="1"></td>
                            <td><input type="checkbox" name="support_21" value="1"></td>
                        </tr>
                        {% endif %}
                    </tbody>

                        {% if player.person_22 != "x" %}
                        <tr>
                            <th>{{ player.person_22 }}</th>
                            <td><input type="checkbox" name="friend_22" value="1"></td>
                            <td><input type="checkbox" name="old_22" value="1"></td>
                            <td><input type="checkbox" name="politics_22" value="1"></td>
                            <td><input type="checkbox" name="study_22" value="1"></td>
                            <td><input type="checkbox" name="support_22" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_23 != "x" %}
                        <tr>
                            <th>{{ player.person_23 }}</th>
                            <td><input type="checkbox" name="friend_23" value="1"></td>
                            <td><input type="checkbox" name="old_23" value="1"></td>
                            <td><input type="checkbox" name="politics_23" value="1"></td>
                            <td><input type="checkbox" name="study_23" value="1"></td>
                            <td><input type="checkbox" name="support_23" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_24 != "x" %}
                        <tr>
                            <th>{{ player.person_24 }}</th>
                            <td><input type="checkbox" name="friend_24" value="1"></td>
                            <td><input type="checkbox" name="old_24" value="1"></td>
                            <td><input type="checkbox" name="politics_24" value="1"></td>
                            <td><input type="checkbox" name="study_24" value="1"></td>
                            <td><input type="checkbox" name="support_24" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_25 != "x" %}
                        <tr>
                            <th>{{ player.person_25 }}</th>
                            <td><input type="checkbox" name="friend_25" value="1"></td>
                            <td><input type="checkbox" name="old_25" value="1"></td>
                            <td><input type="checkbox" name="politics_25" value="1"></td>
                            <td><input type="checkbox" name="study_25" value="1"></td>
                            <td><input type="checkbox" name="support_25" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_26 != "x" %}
                        <tr>
                            <th>{{ player.person_26 }}</th>
                            <td><input type="checkbox" name="friend_26" value="1"></td>
                            <td><input type="checkbox" name="old_26" value="1"></td>
                            <td><input type="checkbox" name="politics_26" value="1"></td>
                            <td><input type="checkbox" name="study_26" value="1"></td>
                            <td><input type="checkbox" name="support_26" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_27 != "x" %}
                        <tr>
                            <th>{{ player.person_27 }}</th>
                            <td><input type="checkbox" name="friend_27" value="1"></td>
                            <td><input type="checkbox" name="old_27" value="1"></td>
                            <td><input type="checkbox" name="politics_27" value="1"></td>
                            <td><input type="checkbox" name="study_27" value="1"></td>
                            <td><input type="checkbox" name="support_27" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_28 != "x" %}
                        <tr>
                            <th>{{ player.person_28 }}</th>
                            <td><input type="checkbox" name="friend_28" value="1"></td>
                            <td><input type="checkbox" name="old_28" value="1"></td>
                            <td><input type="checkbox" name="politics_28" value="1"></td>
                            <td><input type="checkbox" name="study_28" value="1"></td>
                            <td><input type="checkbox" name="support_28" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_29 != "x" %}
                        <tr>
                            <th>{{ player.person_29 }}</th>
                            <td><input type="checkbox" name="friend_29" value="1"></td>
                            <td><input type="checkbox" name="old_29" value="1"></td>
                            <td><input type="checkbox" name="politics_29" value="1"></td>
                            <td><input type="checkbox" name="study_29" value="1"></td>
                            <td><input type="checkbox" name="support_29" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_30 != "x" %}
                        <tr>
                            <th>{{ player.person_30 }}</th>
                            <td><input type="checkbox" name="friend_30" value="1"></td>
                            <td><input type="checkbox" name="old_30" value="1"></td>
                            <td><input type="checkbox" name="politics_30" value="1"></td>
                            <td><input type="checkbox" name="study_30" value="1"></td>
                            <td><input type="checkbox" name="support_30" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_31 != "x" %}
                        <tr>
                            <th>{{ player.person_31 }}</th>
                            <td><input type="checkbox" name="friend_31" value="1"></td>
                            <td><input type="checkbox" name="old_31" value="1"></td>
                            <td><input type="checkbox" name="politics_31" value="1"></td>
                            <td><input type="checkbox" name="study_31" value="1"></td>
                            <td><input type="checkbox" name="support_31" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_32 != "x" %}
                        <tr>
                            <th>{{ player.person_32 }}</th>
                            <td><input type="checkbox" name="friend_32" value="1"></td>
                            <td><input type="checkbox" name="old_32" value="1"></td>
                            <td><input type="checkbox" name="politics_32" value="1"></td>
                            <td><input type="checkbox" name="study_32" value="1"></td>
                            <td><input type="checkbox" name="support_32" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_33 != "x" %}
                        <tr>
                            <th>{{ player.person_33 }}</th>
                            <td><input type="checkbox" name="friend_33" value="1"></td>
                            <td><input type="checkbox" name="old_33" value="1"></td>
                            <td><input type="checkbox" name="politics_33" value="1"></td>
                            <td><input type="checkbox" name="study_33" value="1"></td>
                            <td><input type="checkbox" name="support_33" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_34 != "x" %}
                        <tr>
                            <th>{{ player.person_34 }}</th>
                            <td><input type="checkbox" name="friend_34" value="1"></td>
                            <td><input type="checkbox" name="old_34" value="1"></td>
                            <td><input type="checkbox" name="politics_34" value="1"></td>
                            <td><input type="checkbox" name="study_34" value="1"></td>
                            <td><input type="checkbox" name="support_34" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_35 != "x" %}
                        <tr>
                            <th>{{ player.person_35 }}</th>
                            <td><input type="checkbox" name="friend_35" value="1"></td>
                            <td><input type="checkbox" name="old_35" value="1"></td>
                            <td><input type="checkbox" name="politics_35" value="1"></td>
                            <td><input type="checkbox" name="study_35" value="1"></td>
                            <td><input type="checkbox" name="support_35" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_36 != "x" %}
                        <tr>
                            <th>{{ player.person_36 }}</th>
                            <td><input type="checkbox" name="friend_36" value="1"></td>
                            <td><input type="checkbox" name="old_36" value="1"></td>
                            <td><input type="checkbox" name="politics_36" value="1"></td>
                            <td><input type="checkbox" name="study_36" value="1"></td>
                            <td><input type="checkbox" name="support_36" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_37 != "x" %}
                        <tr>
                            <th>{{ player.person_37 }}</th>
                            <td><input type="checkbox" name="friend_37" value="1"></td>
                            <td><input type="checkbox" name="old_37" value="1"></td>
                            <td><input type="checkbox" name="politics_37" value="1"></td>
                            <td><input type="checkbox" name="study_37" value="1"></td>
                            <td><input type="checkbox" name="support_37" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_38 != "x" %}
                        <tr>
                            <th>{{ player.person_38 }}</th>
                            <td><input type="checkbox" name="friend_38" value="1"></td>
                            <td><input type="checkbox" name="old_38" value="1"></td>
                            <td><input type="checkbox" name="politics_38" value="1"></td>
                            <td><input type="checkbox" name="study_38" value="1"></td>
                            <td><input type="checkbox" name="support_38" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_39 != "x" %}
                        <tr>
                            <th>{{ player.person_39 }}</th>
                            <td><input type="checkbox" name="friend_39" value="1"></td>
                            <td><input type="checkbox" name="old_39" value="1"></td>
                            <td><input type="checkbox" name="politics_39" value="1"></td>
                            <td><input type="checkbox" name="study_39" value="1"></td>
                            <td><input type="checkbox" name="support_39" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_40 != "x" %}
                        <tr>
                            <th>{{ player.person_40 }}</th>
                            <td><input type="checkbox" name="friend_40" value="1"></td>
                            <td><input type="checkbox" name="old_40" value="1"></td>
                            <td><input type="checkbox" name="politics_40" value="1"></td>
                            <td><input type="checkbox" name="study_40" value="1"></td>
                            <td><input type="checkbox" name="support_40" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_41 != "x" %}
                        <tr>
                            <th>{{ player.person_41 }}</th>
                            <td><input type="checkbox" name="friend_41" value="1"></td>
                            <td><input type="checkbox" name="old_41" value="1"></td>
                            <td><input type="checkbox" name="politics_41" value="1"></td>
                            <td><input type="checkbox" name="study_41" value="1"></td>
                            <td><input type="checkbox" name="support_41" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_42 != "x" %}
                        <tr>
                            <th>{{ player.person_42 }}</th>
                            <td><input type="checkbox" name="friend_42" value="1"></td>
                            <td><input type="checkbox" name="old_42" value="1"></td>
                            <td><input type="checkbox" name="politics_42" value="1"></td>
                            <td><input type="checkbox" name="study_42" value="1"></td>
                            <td><input type="checkbox" name="support_42" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_43 != "x" %}
                        <tr>
                            <th>{{ player.person_43 }}</th>
                            <td><input type="checkbox" name="friend_43" value="1"></td>
                            <td><input type="checkbox" name="old_43" value="1"></td>
                            <td><input type="checkbox" name="politics_43" value="1"></td>
                            <td><input type="checkbox" name="study_43" value="1"></td>
                            <td><input type="checkbox" name="support_43" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_44 != "x" %}
                        <tr>
                            <th>{{ player.person_44 }}</th>
                            <td><input type="checkbox" name="friend_44" value="1"></td>
                            <td><input type="checkbox" name="old_44" value="1"></td>
                            <td><input type="checkbox" name="politics_44" value="1"></td>
                            <td><input type="checkbox" name="study_44" value="1"></td>
                            <td><input type="checkbox" name="support_44" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_45 != "x" %}
                        <tr>
                            <th>{{ player.person_45 }}</th>
                            <td><input type="checkbox" name="friend_45" value="1"></td>
                            <td><input type="checkbox" name="old_45" value="1"></td>
                            <td><input type="checkbox" name="politics_45" value="1"></td>
                            <td><input type="checkbox" name="study_45" value="1"></td>
                            <td><input type="checkbox" name="support_45" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_46 != "x" %}
                        <tr>
                            <th>{{ player.person_46 }}</th>
                            <td><input type="checkbox" name="friend_46" value="1"></td>
                            <td><input type="checkbox" name="old_46" value="1"></td>
                            <td><input type="checkbox" name="politics_46" value="1"></td>
                            <td><input type="checkbox" name="study_46" value="1"></td>
                            <td><input type="checkbox" name="support_46" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_47 != "x" %}
                        <tr>
                            <th>{{ player.person_47 }}</th>
                            <td><input type="checkbox" name="friend_47" value="1"></td>
                            <td><input type="checkbox" name="old_47" value="1"></td>
                            <td><input type="checkbox" name="politics_47" value="1"></td>
                            <td><input type="checkbox" name="study_47" value="1"></td>
                            <td><input type="checkbox" name="support_47" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_48 != "x" %}
                        <tr>
                            <th>{{ player.person_48 }}</th>
                            <td><input type="checkbox" name="friend_48" value="1"></td>
                            <td><input type="checkbox" name="old_48" value="1"></td>
                            <td><input type="checkbox" name="politics_48" value="1"></td>
                            <td><input type="checkbox" name="study_48" value="1"></td>
                            <td><input type="checkbox" name="support_48" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_49 != "x" %}
                        <tr>
                            <th>{{ player.person_49 }}</th>
                            <td><input type="checkbox" name="friend_49" value="1"></td>
                            <td><input type="checkbox" name="old_49" value="1"></td>
                            <td><input type="checkbox" name="politics_49" value="1"></td>
                            <td><input type="checkbox" name="study_49" value="1"></td>
                            <td><input type="checkbox" name="support_49" value="1"></td>
                        </tr>
                        {% endif %}

                        {% if player.person_50 != "x" %}
                        <tr>
                            <th>{{ player.person_50 }}</th>
                            <td><input type="checkbox" name="friend_50" value="1"></td>
                            <td><input type="checkbox" name="old_50" value="1"></td>
                            <td><input type="checkbox" name="politics_50" value="1"></td>
                            <td><input type="checkbox" name="study_50" value="1"></td>
                            <td><input type="checkbox" name="support_50" value="1"></td>
                        </tr>
                        {% endif %}
                </table>
            </div>
    </div>
    </div>
    </div>

    <br>
    <button class="otree-btn-next btn btn-primary next-button otree-next-button">
        <span class="german"> Weiter </span>
        <span class="english"> Next </span>
    </button>
</div>
{% endblock %}
